supersmashtierlistRNC.rnc

start = charList
charList = element charList {char+}
char = element char {id, text,supersmashbros4*, supersmashbrosbrawl*}
id = attribute id {text}
supersmashbros4 = element supersmashbros4 {tier}
tier  = attribute tier {"S"|"A"|"B"|"C"|"D"|"E"|"F"|"G"|"UnRanked"}
supersmashbrosbrawl = element supersmashbrosbrawl {tier}


